<div class="container my-5">
  <h3 class="mb-3">Reset Password</h3>

  <div class="row">
    <div class="col-6">
      <form [formGroup]="resetPassswordForm">
        <div class="mb-3">
          <label for="password" class="form-label">New Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
          />

          <small
            *ngIf="
              (resetPassswordForm.controls['password'].touched &&
                resetPassswordForm.controls['password'].invalid) ||
              (resetPassswordForm.controls['password'].dirty &&
                resetPassswordForm.hasError('required', 'password'))
            "
            class="text-danger"
            >*Password is required</small
          >
        </div>

        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            id="confirmPassword"
          />

          <small
            *ngIf="
              (resetPassswordForm.controls['confirmPassword'].touched &&
                resetPassswordForm.controls['confirmPassword'].invalid) &&
              (resetPassswordForm.controls['confirmPassword'].dirty || 
              resetPassswordForm.controls['confirmPassword'].pristine) &&
                resetPassswordForm.hasError('required', 'confirmPassword')
            "
            class="text-danger"
            >*Confirm Password is required</small
          >
        </div>


        <small
            *ngIf="resetPassswordForm.hasError('confirmPasswordValidator', 'confirmPassword')"
            class="text-danger"
            >*Password is not matched</small
          >
      


        <div class="mb-3">
          <small *ngIf="errorMessage != ''" class="text-danger"
            >*{{ errorMessage }}</small
          >
        </div>

        <button
          (click)="onResetPasswordSubmit()"
          type="submit"
          class="btn btn-primary"
        >
          Reset
        </button>
      </form>
    </div>
  </div>
</div>
